{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "arrowParens": "always",
    "quoteProps": "consistent"
}